{% extends "base.html.twig" %}

{% block body %}
	<div class="row">
		<div class="col">
			{{ form_errors(form) }}
			{{ form_start(form) }}
			{{ form_row(form.pseudo) }}
			{{ form_row(form.email) }}
			{{ form_row(form.password) }}
			{{ form_row(form.confirm_password) }}
			<button type="submit">Inscription</button>
			{{ form_end(form) }}
		</div>
	</div>


{% endblock %}