{% extends "base.html.twig" %}

{% block body %}

	<h1>{{post.title}}</h1>
	<img src="{{ asset(post.image) }}" alt="{{ post.title }}">
	<p>{{post.content}}</p>
	{{post.publishedat | date("d/m/Y")}}

	{% if app.user %}
		{{ form_start(commentForm) }}
		{{ form_row(commentForm.author) }}
		{{ form_row(commentForm.content) }}
		<button type="submit">Commenter</button>
		{{ form_end(commentForm) }}
	{% endif %}

	<ul>
		{% for comment in post.comments %}
			<li>
				{{ comment.author }}
				:
				{{ comment.content }}
			</li>
		{% endfor %}
	</ul>

{% endblock %}
